/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container Styles */
.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  margin-top: 10px;
  color: #0056b3;
  text-align: center;
}

/* Input Styles */
.input-field {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Photo Upload Styles */
.photo-upload {
  text-align: center;
  margin: 20px 0;
}

.photo-label {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #eee;
}

.photo-input {
  display: none;
}

.photo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* Button Styles */
.button {
  background-color: #0074d9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

/* Selected Photo Styles */
.selected-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
}

/* Message Styles */
.message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/* User List Styles */
.user-list {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.user-list-title {
  font-size: 24px;
  margin: 0;
  color: #333;
  margin-bottom: 20px;
}

.user-list-items {
  list-style: none;
  padding: 0;
}

.user-list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-email {
  font-size: 16px;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.error-message {
  font-size: 16px;
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}

/* LoginForm Styles */
.form-container {
  width: 350px;
  margin: 15px auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container h1 {
  color: #0056b3;
  margin-top: 10px;
}

.form-container input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button {
  background-color: #0074d9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.form-container button:hover {
  background-color: #0056b3;
}

.tab-navigation{
  text-align: center;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.tab-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: black;
}

.tab-button:hover {
  background-color: #007BFF;
  color: #fff;
}

.active {
  background-color: #007BFF;
  color: #fff;
}
/* Example usage: */
/* To create a set of tab buttons, apply the .tab-button class to each button element. */


/* Media Queries */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.user-information {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.user-information__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.user-information__email {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  font-weight: bolder;
}

.user-information__photo {
  margin: 20px auto;
}

.user-information__photo img {
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.user-information__no-photo {
  font-size: 16px;
  color: #777;
}
